*.png
*/bin/*
*/build/*
*/msg/cpp/*
*/msg/java/*
*/msg/lisp/*
*/msg/oct/*
*/src/*/msg/*
/bg_subtract/src/bg_test
/overhead_tracking/src/overhead_tracking/__init__.py
/bg_subtract/src/bg_subtract/__init__.py
/bg_subtract/src/bg_subtract/__init__.pyc
/overhead_tracking/src/overhead_tracking/__init__.pyc
