<launch>

  <group ns="prosilica">
    <include file="$(find bg_subtract)/cam_settings.xml"/>
    <param name="trigger_mode" type="str" value="streaming"/>
  </group>

  <node name="prosilica" pkg="prosilica_camera" type="prosilica_node" respawn="false" output="screen"/>
  <node ns="camera" name="image_proc" pkg="image_proc" type="image_proc"/>

  <node name="overhead_tracking" pkg="overhead_tracking" type="overhead_tracking_node">
    <remap from="image_topic" to="/camera/image_color"/>
  </node>


</launch>
